@{
}

<div class="list-group list-group-flush">
    <a href="/employeeuser/index" class="list-group-item">Çalışan Kullanıcılar</a>
    <a href="/outsourceuser/index" class="list-group-item">Dışkaynak Kulllanıcıları</a>
    <a href="#" class="list-group-item">Dışkaynaklar</a>
</div>
