@model OutsourcerTracking.Models.UserAuthenticationModels.ForgetPasswordModel;
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LayoutUserAuthentication.cshtml";
}
<div>
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["msg"]</div>
    }
    @using (Html.BeginForm("ForgetPassword", "UserAuthentication", FormMethod.Post))
    {
        <div class="form-group vertical-padding-1">
            @Html.TextBoxFor(m => m.Email,  new {@class = "form-control", placeholder="E-Posta"})
            @Html.ValidationMessageFor(m => m.Email, null, new {@class="text-danger"})
            <br />
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    }
</div>


